#header {
    background-color: #ffffff;
    height: 60px;
}

#header, h1, h2, .projectText {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    background-color: #4aaaa5;
    margin: 0%;
    padding: 0%;
    border: 0px;
    width: fit-content;
    padding: 12px;
    color: #ffffff;
    margin-left: 15%;
}

body {
    padding-bottom: 4%;
    margin: 0%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(C:/Users/forev/Desktop/Bootcamp/Darshishka.github.io/assets/images/retina_wood/retina_wood_@2X.png)
}

nav {
    float: right;
    margin-top: -40px;
    margin-right: 12%;
}

a {
    margin-right: 20px;
    color: gray;
    border-left: solid 1px #cccccc;
    padding-left: 6px;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    font-weight: bold;
    border-left: solid 3px;
}

#about, #contact, #portfilio {
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 330px;
}

h2 {
    border-bottom: solid;
    border-color: #dddddd;
    color: #4aaaa5;
}

#darcy {
    max-width: 20%;
    height: auto;
    float: left;
    padding-right: 25px;
}

p {
    padding-top: 12%;
    color: #777777;
}

#message {
    width: 100%;
}

#footer {
    background-color: #666666;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
    border-top: outset #4aaaa5 5px;
}

.project {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.projectText {
    position: absolute;
    top: 65%;
    left: 50%;
    background-color: #4aaaa5;
    color: #ffffff;
    transform: translate(-50%, -50%);
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    text-align: center;
    position: relative;
    float: left;
    padding: 20px;
}

.link {
    color: #ffffff;
    text-decoration: none;
    border: none;
}

.link:hover {
    font-weight: bold;
    border: none;
    color: #ffffff;
}